<!--The content below is only a placeholder and can be replaced.-->

  
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Matching Application</a>
  <form class="form-inline my-2 my-lg-0" (ngSubmit)="onPeopleFormSubmit()">
      <input class="form-control mr-sm-2" type="text" placeholder="insert student name" aria-label="Add student">
      <button class="btn btn-outline-success my-2 my-sm-0 active" type="submit">Add</button>
    </form>
</nav>


<div class="people" *ngIf="people$ | async as people">

  <app-person-card *ngFor="let person of people "
      [person]="person"></app-person-card>

  </div>



